<div id="page-wrapper" ng-controller="trackingController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 div-cont-table">
                <h2>Rastreio de Objetos</h2>
                <br/><br/>

                <div class="form-group text-center">
                  <input type="text" ng-model="objN" id="usr" size="20">
                  <a class="btn btn-warning" role="button"> <i class="fa fa-search"></i></a>
                </div>

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Data</th>
                        <th>Local</th>
                        <th>Situação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="tracking in trackingList | filter : objN track by $index">
                        <td>{{tracking.date}}</td>
                        <td>{{tracking.place}}</td>
                        <td>{{tracking.status}}</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->