<div id="page-wrapper" ng-controller="clientsController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 div-cont-table">
                <h2>Rastreio de Objetos</h2>
                <br/><br/>

                <div class="form-group text-center">
                  <input type="text" id="usr" size="20">
                  <a class="btn btn-warning" role="button"> <i class="fa fa-search"></i></a>
                </div>

                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Data</th>
                        <th>Local</th>
                        <th>Situação</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>22/01/2016</td>
                        <td>Sao Paulo, SP</td>
                        <td>Entregue</td>
                      </tr>
                      <tr>
                        <td>21/01/2016</td>
                        <td>Sao Paulo, SP</td>
                        <td>Encaminhado</td>
                      </tr>
                      <tr>
                        <td>20/01/2016</td>
                        <td>Sao Paulo, SP</td>
                        <td>Postado</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->