<div id="page-wrapper" ng-controller="clientsController">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <h2>Cadastro de Clientes</h2>

                    <!-- Guias -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#clients-data">Dados</a></li>
                        <li><a data-toggle="tab" href="#clients-document">Documentos</a></li>
                        <li><a data-toggle="tab" href="#clients-address">Endereços</a></li>
                        <li><a data-toggle="tab" href="#clients-contact">Contatos</a></li>
                    </ul>
                </div><br/>

                <!-- Conteúdo das guias -->
                <div class="tab-content">

                    <!-- Dados básicos -->
                    <div id="clients-data" class="tab-pane fade in active">
                        <div class="table-responsive">
                            Nome:&nbsp;<input id="name" type="text" ng-maxlength="50" size="50"/><br/>
                            Apelido:&nbsp;<input id="nickname" type="text" ng-maxlength="25" size="25"/><br/>
                        </div>
                    </div>

                    <!-- Documentos -->
                    <div id="clients-document" class="tab-pane fade">
                        <div class="table-responsive">
                            Tipo:&nbsp; 
                            <select ng-model="documents">
                              <option value="">-- Escolha o tipo --</option>
                              <option value="">RG</option>
                              <option value="">CPF</option>
                            </select><br/>
                            Número:&nbsp;<input type="number" ng-max="14" size="4"/><br/>
                        </div>
                    </div>

                    <!-- Endereço -->
                    <div id="clients-address" class="tab-pane fade">
                        <div class="table-responsive">
                            CEP:&nbsp;<input type="number" ng-max="8" size="8"/><br/>
                            Endereço:&nbsp;<input type="text" ng-maxlength="50" size="50"/><br/>
                            Nome:&nbsp;<input type="text" ng-maxlength="8" size="8"/><br/>
                            Complemento:&nbsp;<input type="text" ng-maxlength="25" size="25"/><br/>
                            Bairro:&nbsp;<input type="text" ng-maxlength="25" size="25"/><br>
                            IBGE:&nbsp;<input type="number" ng-max="7" size="7"/><br/>
                            País:&nbsp; 
                            <select ng-model="city">
                              <option value="">-- Escolha o país --</option>
                              <option value="">Brasil</option>
                              <option value="">Chile</option>
                              <option value="">Argentina</option>
                            </select><br/>
                            Estado:&nbsp; 
                            <select ng-model="city">
                              <option value="">-- Escolha o Estado --</option>
                              <option value="">SP</option>
                              <option value="">RJ</option>
                              <option value="">MG</option>
                            </select><br/>
                            Cidade:&nbsp; 
                            <select ng-model="city">
                              <option value="">-- Escolha a cidade --</option>
                              <option value="">São Paulo</option>
                              <option value="">Rio de Janeiro</option>
                              <option value="">Salvador</option>
                            </select><br/>
                        </div>
                    </div>

                    <!-- Contatos -->
                    <div id="clients-contact" class="tab-pane fade">
                        <div class="table-responsive">
                            E-mail 1:&nbsp;<input type="number" ng-maxlength="50" size="50"/><br/>
                            E-mail 2:&nbsp;<input type="number" ng-maxlength="50" size="50"/><br/>
                            Número 1:&nbsp;<input type="number" ng-max="13" size="13"/><br/>
                            Número 2:&nbsp;<input type="number" ng-max="13" size="13"/><br/>
                            Observações:&nbsp;
                            <textarea rows="4" cols="50" ng-maxlength="150" size="150">
                            </textarea>
                        </div>
                    </div>
                </div>   
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->