<div id="page-wrapper" ng-controller="suppliersController">
    <div class="container-fluid">
        <div class="row crud-guide">
            <div class="col-lg-12">
                <div class="crud-guide">
                    <h2>Cadastro de Fornecedores</h2>

                    <!-- Guias -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#suppliers-data">Dados básicos</a></li>
                        <li><a data-toggle="tab" href="#suppliers-document">Documentos</a></li>
                        <li><a data-toggle="tab" href="#suppliers-address">Endereços</a></li>
                        <li><a data-toggle="tab" href="#suppliers-contact">Contatos</a></li>
                    </ul>
                </div><br/>

                <form>
                  <!-- Conteúdo das guias -->
                  <div class="tab-content">

                      <!-- Dados básicos -->
                      <div id="suppliers-data" class="tab-pane fade in active">
                          <div class="form-group">
                            <label for="">Razão Social:</label>
                            <input type="text" ng-maxlength="100" size="100"/>
                          </div>
                          <div class="form-group">
                            <label for="">Nome Fantasia:</label>
                            <input type="text" ng-maxlength="50" size="50"/>
                          </div>
                          <div class="form-group">
                            <label for="">Inscrição Municipal:</label>
                            <input type="number" ng-max="15" size="15"/>
                          </div>
                          <div class="form-group">
                            <label for="">Inscrição Estadual:</label>
                            <input type="number" ng-max="15" size="15"/>
                          </div>
                          <div class="form-group">
                            <label for="">Capital Social:</label>
                            <input type="number" ng-max="10" size="10"/>
                          </div>
                      </div>

                      <!-- Documentos -->
                      <div id="suppliers-document" class="tab-pane fade">
                          <div class="form-group">
                              <label for="type">Tipo:</label>
                              <select ng-model="documents" id="type">
                                <option value="">-- Escolha o tipo --</option>
                                <option value="">CNPJ</option>
                                <option value="">Outro</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="number">Número:</label>
                              <input id="number" type="number" ng-max="14" size="4"/>
                          </div>
                      </div>

                      <!-- Endereço -->
                      <div id="suppliers-address" class="tab-pane fade">
                          <div class="form-group">
                              <label for="zip_code">CEP:</label>
                              <input id="zip_code" type="number" ng-max="8" size="8"/>
                          </div>
                          <div class="form-group">
                              <label for="address">Endereço:</label>
                              <input id="address" type="text" ng-maxlength="50" size="50"/>
                          </div>
                          <div class="form-group">
                              <label for="number">Número:</label>
                              <input id="number" type="text" ng-maxlength="8" size="8"/>
                          </div>
                          <div class="form-group">
                              <label for="complement">Complemento:</label>
                              <input id="complement" type="text" ng-maxlength="25" size="25"/>
                          </div>
                          <div class="form-group">
                              <label for="neighborhood">Bairro:</label>
                              <input id="neighborhood" type="text" ng-maxlength="25" size="25"/>
                          </div>
                          <div class="form-group">
                              <label for="ibge_code">IBGE:</label>
                              <input id="ibge_code" type="number" ng-max="7" size="7"/>
                          </div>
                          <div class="form-group">                            
                              <label for="contry">País:</label>
                              <select id="contry" ng-model="country">
                                <option value="">-- Escolha o país --</option>
                                <option value="">Brasil</option>
                                <option value="">Chile</option>
                                <option value="">Argentina</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="state">Estado:</label> 
                              <select id="state" ng-model="state">
                                <option value="">-- Escolha o estado --</option>
                                <option value="">SP</option>
                                <option value="">RJ</option>
                                <option value="">MG</option>
                              </select>
                          </div>
                          <div class="form-group">
                              <label for="city">Cidade:</label> 
                              <select id="city" ng-model="city">
                                <option value="">-- Escolha a cidade --</option>
                                <option value="">São Paulo</option>
                                <option value="">Rio de Janeiro</option>
                                <option value="">Salvador</option>
                              </select>
                          </div>
                      </div>

                      <!-- Contatos -->
                      <div id="suppliers-contact" class="tab-pane fade">
                          <div class="form-group">
                              <label for="email_1" >E-mail 1:</label>
                              <input id="email_1" type="text" ng-maxlength="50" size="50"/>
                          </div>
                          <div class="form-group">
                              <label for="email_2" >E-mail 2:</label>
                              <input id="email_2" type="text" ng-maxlength="50" size="50"/>
                          </div>
                          <div class="form-group">
                              <label for="phone_1" >Número 1:</label>
                              <input id="phone_1" type="number" ng-max="13" size="13"/>
                          </div>
                          <div class="form-group">
                              <label for="phone_2" >Número 2:</label>
                              <input id="phone_2" type="number" ng-max="13" size="13"/>
                          </div>
                          <div class="form-group">
                              <label for="observations" >Observações:</label>
                              <textarea id="observations" rows="4" cols="50" ng-maxlength="150" size="150">
                              </textarea>
                          </div>
                      </div>
                  </div> 
                </form>  
            </div><br/>
            <div class="row">
                <div class="col-lg-12"><br/>
                    <a class="btn btn-warning" role="button">Limpar</a>
                    <a class="btn btn-success" role="button">Salvar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->