<div id="page-wrapper" ng-controller="entriesController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">Cadastro de Fornecedores</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12">
				Razão Social:&nbsp;<input type="text" ng-maxlength="100" size="100"/><br/>
				Nome Fantasia:&nbsp;<input type="text" ng-maxlength="50" size="50"/><br/>
				Inscrição Municipal:&nbsp;<input type="number" ng-max="15" size="15"/><br/>
				Inscrição Estadual:&nbsp;<input type="number" ng-max="15" size="15"/><br/>
				Capital Social:&nbsp;<input type="number" ng-max="10" size="10"/><br/>
			</div>
		</div>
	</div>
</div>