<div id="page-wrapper">

    <div class="container-fluid">
    
        <div class="row">
            <div class="col-lg-12">
                <h2>Cabo USB Lightning original Apple</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Características</th>
                                <th>Qtde.</th>
                                <th>Valor compra</th>
                                <th>Valor venda</th>
                                <th>Fornecedor</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Lightning | Reversível | 8 Pinos</td>
                                <td>5</td>
                                <td>R$2,50</td>
                                <td>R$9,99</td>
                                <td>Shenzhen Zoein VIP Technology co,ltd</td>
                                <td>Apple</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <h2>Fone de ouvido Earpods original Apple</h2>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Características</th>
                                <th>Qtde.</th>
                                <th>Valor compra</th>
                                <th>Valor venda</th>
                                <th>Fornecedor</th>
                                <th>Fabricante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Controle de chamadas/reprodução</td>
                                <td>5</td>
                                <td>R$2,50</td>
                                <td>R$9,99</td>
                                <td>Shenzhen RN Tech co., LTD</td>
                                <td>Apple</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->