<div id="page-wrapper" ng-controller="clientsController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">DETALHES DO CLIENTE {{client.name}}</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Documentos
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                                <th>Número</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                                <td>{{client.document.number}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-8">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-phone"></i> Contatos</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Fone 1</th>
	                                <th>Fone 2</th>
	                                <th>E-mail 1</th>
	                                <th>E-mail 2</th>
	                                <th>Obs.</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.contact.phone_1}}</td>
	                                <td>{{client.contact.phone_2}}</td>
	                                <td>{{client.contact.email_1}}</td>
	                                <td>{{client.contact.email_2}}</td>
	                                <td>{{client.contact.observations}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-lg-12">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-map-marker"></i> Endereços</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>CEP</th>
	                                <th>Logradouro</th>
	                                <th>Número</th>
	                                <th>Complemento</th>
	                                <th>Bairro</th>
	                                <th>IBGE</th>
	                                <th>Cidade</th>
	                                <th>UF</th>
	                                <th>País</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.address.zip_code}}</td>
	                                <td>{{client.address.address}}</td>
	                                <td>{{client.address.number}}</td>
	                                <td>{{client.address.complement}}</td>
	                                <td>{{client.address.neighborhood}}</td>
	                                <td>{{client.address.ibge_code}}</td>
	                                <td>{{client.address.city}}</td>
	                                <td>{{client.address.state}}</td>
	                                <td>{{client.address.contry}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>

				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-history"></i> Histórico de compras</h3>
					</div>
				</div>

				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-commenting"></i> Histórico de mensagens</h3>
					</div>
				</div>

			    <a class="btn btn-primary" href="" ng-click="return()" role="button">Voltar</a>

			</div>
		</div>
	</div>
</div>