<div id="page-wrapper" ng-controller="salesController">
    <div class="container-fluid">
        <div class="row crud-guide">
            <div class="col-lg-12">
                <div class="crud-guide">
                    <h2>CADASTRO DE VENDAS</h2>

                    <!-- Guias -->
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#sales-note">Nota</a></li>
                        <li><a data-toggle="tab" href="#sales-taxes">Impostos</a></li>
                        <li><a data-toggle="tab" href="#sales-product">Produtos</a></li>
                        <li><a data-toggle="tab" href="#sales-client">Destinatário</a></li>
                        <li><a data-toggle="tab" href="#sales-delivery-address">Endereço Entrega</a></li>
                        <li><a data-toggle="tab" href="#sales-billing-address">Endereço Cobrança</a></li>
                    </ul>
                </div><br/>

                <form>
                    <!-- Conteúdo das guias -->
                    <div class="tab-content">

                        <!-- Dados da nota -->
                        <div id="sales-note" class="tab-pane fade in active">
                            <div class="form-group">
                                <label for="date_of_issue">Data de emissão:</label>
                                <input id="date_of_issue" type="text" ng-model="sale.invoice.date_of_issue" />
                            </div>
                            <div class="form-group">
                                <label for="input_output_date">Data de entrada/saída:</label>
                                <input id="input_output_date" type="text" ng-model="sale.invoice.input_output_date" />
                            </div>
                            <div class="form-group">
                                <label for="type">Natureza da operação:</label>
                                <select id="type" ng-model="sale.invoice.type">
                                  <option>-- Escolha o tipo --</option>
                                  <option>ENTRADA</option>
                                  <option>SAIDA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="access_key">Chave de acesso:</label>
                                <input id="access_key" type="text" ng-model="sale.invoice.access_key" />
                            </div>
                            <div class="form-group">
                                <label for="operation_type">Tipo de operação:</label>
                                <select id="operation_type" ng-model="sale.invoice.operation_type">
                                  <option>-- Escolha o tipo --</option>
                                  <option>COMPRA</option>
                                  <option>VENDA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="use_auth_protocol">Protocolo de autorização:</label>
                                <input id="use_auth_protocol" type="text" ng-model="sale.invoice.use_auth_protocol" />
                            </div>
                        </div>

                        <!-- Dados de Impostos -->
                        <div id="sales-taxes" class="tab-pane fade">
                            <div class="form-group">
                                <label for="icms_base_calculation">Cálculo do ICMS:</label>
                                <input id="icms_base_calculation" type="number" ng-model="sale.taxes.icms_base_calculation" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="value_icms">Valor do ICMS:</label>
                                <input id="value_icms" type="number" ng-model="sale.taxes.value_icms" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="icms_subst_base_calculation">Cálculo do ICMS subst.:</label>
                                <input id="icms_subst_base_calculation" type="number" ng-model="sale.taxes.icms_subst_base_calculation" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="">Valor do ICMS subst.:</label>
                                <input id="" type="number" ng-model="sale.taxes.value_icms_subst" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="value_icms_subst">Valor total dos produtos:</label>
                                <input id="value_icms_subst" type="number" ng-model="sale.taxes.total_value_of_the_products" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="cost_of_freight">Valor do frete:</label>
                                <input id="cost_of_freight" type="number" ng-model="sale.taxes.cost_of_freight" size=""/>
                            </div>
                            <div class="form-group">
                                <label for="discount">Desconto:</label>
                                <input id="discount" type="number" ng-model="sale.taxes.discount" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="value_ipi">Valor do IPI:</label>
                                <input id="value_ipi" type="number" ng-model="sale.taxes.value_ipi" size="6"/>
                            </div>
                            <div class="form-group">
                                <label for="total_note_value">Valor total da nota:</label>
                                <input id="total_note_value" type="number" ng-model="sale.taxes.total_note_value" size="6"/>
                            </div>
                        </div>

                        <!-- Dados dos Produtos -->
                        <div id="sales-product" class="tab-pane fade">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Compatibilidade</th>
                                            <th>Características</th>
                                            <th>Valor venda</th>
                                            <th>Fornecedor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in products | itemsPerPage: 6 track by $index">
                                            <td>{{product.id}}</td>
                                            <td>{{product.name}}</td>
                                            <td>{{product.compatibility.supported_devices}}</td>
                                            <td>{{product.specifications}}</td>
                                            <td>{{product.value_sale}}</td>
                                            <td>{{product.supplier.company_name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>
                        </div>

                        <!-- Dados do Cliente -->
                        <div id="sales-client" class="tab-pane fade">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome</th>
                                            <th>Tipo Documento</th>
                                            <th>Documento</th>
                                            <th>E-mail</th>
                                            <th>Contato</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="client in clients | itemsPerPage: 6 track by $index">
                                            <td>{{client.id}}</td>
                                            <td>{{client.name}}</td>
                                            <td>{{client.document.type}}</td>
                                            <td>{{client.document.number}}</td>
                                            <td>{{client.contact.email_1}}</td>
                                            <td>{{client.contact.phone_1}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <dir-pagination-controls></dir-pagination-controls>
                            </div>
                        </div>

                        <!-- Dados do Endereço de Entrega -->
                        <div id="sales-delivery-address" class="tab-pane fade">
                            <div class="form-group">
                                <label for="zip_code">CEP:</label>
                                <input id="zip_code" type="number" ng-model="sale.client.delivery_address.zip_code" size="8"/>
                            </div>
                            <div class="form-group">
                                <label for="address">Endereço:</label>
                                <input id="address" type="text" ng-model="sale.client.delivery_address.address" ng-maxlength="50" size="50"/>
                            </div>
                            <div class="form-group">
                                <label for="number">Número:</label>
                                <input id="number" type="text" ng-model="sale.client.delivery_address.number" ng-maxlength="8" size="8"/>
                            </div>
                            <div class="form-group">
                                <label for="complement">Complemento:</label>
                                <input id="complement" type="text" ng-model="sale.client.delivery_address.complement" ng-maxlength="25" size="25"/>
                            </div>
                            <div class="form-group">
                                <label for="neighborhood">Bairro:</label>
                                <input id="neighborhood" type="text" ng-model="sale.client.delivery_address.neighborhood" ng-maxlength="25" size="25"/>
                            </div>
                            <div class="form-group">
                                <label for="ibge_code">IBGE:</label>
                                <input id="ibge_code" type="number" ng-model="sale.client.delivery_address.ibge_code"  size="7"/>
                            </div>
                            <div class="form-group">                            
                                <label for="contry">País:</label>
                                <select id="contry" ng-model="sale.client.delivery_address.contry">
                                  <option>-- Escolha o país --</option>
                                  <option>BRASIL</option>
                                  <option>BOLÍVIA</option>
                                  <option>CHILE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="state">Estado:</label> 
                                <select id="state" ng-model="sale.client.delivery_address.state">
                                  <option>-- Escolha o estado --</option>
                                  <option>SÃO PAULO</option>
                                  <option>RIO DE JANEIRO</option>
                                  <option>SANTA CATARINA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="city">Cidade:</label> 
                                <select id="city" ng-model="sale.client.delivery_address.city">
                                  <option>-- Escolha a cidade --</option>
                                  <option>SÃO PAULO</option>
                                  <option>RIO DE JANEIRO</option>
                                  <option>FLORIANÓPOLIS</option>
                                </select>
                            </div>
                        </div>

                        <!-- Dados do Endereço de Cobrança -->
                        <div id="sales-billing-address" class="tab-pane fade">
                            <div class="form-group">
                                <label for="zip_code">CEP:</label>
                                <input id="zip_code" type="number" ng-model="sale.client.billing_address.zip_code" size="8"/>
                            </div>
                            <div class="form-group">
                                <label for="address">Endereço:</label>
                                <input id="address" type="text" ng-model="sale.client.billing_address.address" ng-maxlength="50" size="50"/>
                            </div>
                            <div class="form-group">
                                <label for="number">Número:</label>
                                <input id="number" type="text" ng-model="sale.client.billing_address.number" ng-maxlength="8" size="8"/>
                            </div>
                            <div class="form-group">
                                <label for="complement">Complemento:</label>
                                <input id="complement" type="text" ng-model="sale.client.billing_address.complement" ng-maxlength="25" size="25"/>
                            </div>
                            <div class="form-group">
                                <label for="neighborhood">Bairro:</label>
                                <input id="neighborhood" type="text" ng-model="sale.client.billing_address.neighborhood" ng-maxlength="25" size="25"/>
                            </div>
                            <div class="form-group">
                                <label for="ibge_code">IBGE:</label>
                                <input id="ibge_code" type="number" ng-model="sale.client.billing_address.ibge_code"  size="7"/>
                            </div>
                            <div class="form-group">                            
                                <label for="contry">País:</label>
                                <select id="contry" ng-model="sale.client.billing_address.contry">
                                  <option>-- Escolha o país --</option>
                                  <option>BRASIL</option>
                                  <option>BOLÍVIA</option>
                                  <option>CHILE</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="state">Estado:</label> 
                                <select id="state" ng-model="sale.client.billing_address.state">
                                  <option>-- Escolha o estado --</option>
                                  <option>SÃO PAULO</option>
                                  <option>RIO DE JANEIRO</option>
                                  <option>SANTA CATARINA</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="city">Cidade:</label> 
                                <select id="city" ng-model="sale.client.billing_address.city">
                                  <option>-- Escolha a cidade --</option>
                                  <option>SÃO PAULO</option>
                                  <option>RIO DE JANEIRO</option>
                                  <option>FLORIANÓPOLIS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                
            </div><br/>
            <div class="row">
                <div class="col-lg-12"><br/>
                    <a class="btn btn-warning" ng-click="return()" role="button">Voltar</a>
                    <a class="btn btn-success" role="button">Salvar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->