<div id="page-wrapper" ng-controller="salesController">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="page-header">DETALHES DA VENDA</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Dados da venda
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Cliente
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Endereço de entrega
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Endereço de cobrança
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Produtos
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="panel panel-info">				
					<div class="panel-heading">
						<h3 class="panel-title"><i class="fa fa-folder-open"></i> Fornecedores dos produtos
						</h3>
					</div>
					<div class="table-responsive">
						<table class="table table-bordered table-hover">
							<thead>
	                            <tr>
	                                <th>Tipo</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{client.document.type}}</td>
	                            </tr>
	                        </tbody>
						</table>
					</div>
				</div>
			</div>
			
			<a class="btn btn-primary" href="" ng-click="return()" role="button">Voltar</a>

			</div>
		</div>
	</div>
</div>